{% extends 'base.html' %}

{% block content %}

<div onshow="cargarInfo();" class="container">
    <div class="row justify-content-center">
            <div class="bg-dark  card o-hidden border-2 my-1 bandeja-container">
                    <div>
                        <div class="p-5">
                            <nav class="navbar navbar-light">
                                <div class="container-fluid d-flex justify-content-between">
                                    <a class="navbar-brand" href="#">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4144/4144845.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                                    </a>
                                    <h4 class="text-dark">{{session['username']}}</h4>
                                    <h4 id="login_usuario" hidden class="text-whit">{{session['email']}}</h4>
                                    <a href={{url_for('login')}} class="text-dark font-weight-bold text-decoration-underline"> Salir</a>
                                </div>
                            </nav> 
                        <div class="text-center">
                            <h1 class="h4 text-white mb-4">Mensajeria LBPH - Mision TIC</h1>
                        </div>
                        <form class="user" action="/enviarmensaje" method= "POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Asunto</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                 id="nombre1" name="asunto">
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Destinatario</label>
                                <select class="form-select" id="destinatario" name="destinatario">
                                    <option selected>Seleccione . . .</option>
                                    {% for user in datauser %}
                                        <option value="{{user['Email']}}">{{ user['Usuario'].upper() }}</option>
                                    {% endfor %} 
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Mensaje</span>
                                <textarea class="form-control mensaje-enviar" id="pass" name="cuerpo">
                                </textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-secondary text-dark font-weight-bold rounded-3">Enviar Mensaje</button>
                            </div>            
                        </form>
                    </div>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="flotante-container">
                            <div class="alert alert-warning alert-dismissible fade show" role="help">
                                <strong>{{ message }}</strong>
                                <button type="button" class="icono-cerrar " data-bs-dismiss="alert">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3388/3388569.png" width="25" height="25" alt = "Close" />
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>  
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-1 my-1 mensajes-container">
                <div class="card-body p-0">
                    <div class="p-3">
                        <table id="usuarios2" class="table">
                            <thead>
                                <tr>
                                    <th>Remitente</th>
                                    <th>Destinatario</th>
                                    <th>Fecha</th>
                                    <th>Asunto</th>
                                    <th>Mensaje</th>
                                    <th>Tipo</th>
                                </tr>
                            </thead>
                            <tbody class="mensajes" id="listado"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        verdatos();
    }
</script>



{% endblock %}