{% extends 'base.html' %}

{% block title %}
Registro
{% endblock %}

{% block content %}

<div class="global-container">
  <div class="registro-container col-lg-5 bg-dark d-flex  justify-content-evenly">
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
          <h1 class="font-weight-bold mb-4"> Registro</h1>
            <form class="row g-3" action="/addregistro" method="POST">
              <div class="col-md-6">
                <label for="inputName1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName1">
              </div>
              <div class="col-md-6">
                <label for="inputName2" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="inputName2">
              </div>
              <div class="col-md-6">
                <label for="inputEmail" class="form-label">Correo</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="example@inditex.com">
              </div>
              <div class="col-md-6">
                <label for="inputEmail2" class="form-label">Confirmar Correo</label>
                <input type="email" class="form-control" id="inputEmail2" placeholder="example@inditex.com">
              </div>
              <div class="col-md-6">
                <label for="inputTel" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="inputTel">
              </div>
              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
              </div>
              <div class="col-md-6">
                <label for="inputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword1">
              </div>
              <div class="col-md-6">
                <label for="inputPassword2" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" id="inputPassword2">
              </div>
              <div class="col-12">
                  <label>
                    Al hacer clic en "Crear cuenta", estas aceptando nuestras <a href="#" class="text-light font-weight-bold text-decoration-none">Politicas de privacidad</a>
                  </label>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Crear cuenta</button>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}